:root {
  --primary: #51b9d2;
  --dark: #005164;
  --light: #81d9ef;

}

body {
  padding: 0;
  margin: 0;
  font-family: "Sans Mono", sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #005164;
}


.border {
  overflow: hidden;
  position: absolute;
  z-index: -9999;
  border: 2px solid white;
  width: 97%;
  height: 97%;
  background-color: black;
  opacity: 0.;
  box-shadow: 5px 5px 6px var(--light);

}


.logo {
  padding: 0;
  margin: 0;
  width: 450px;
  height: auto;
  filter: brightness(500%);
  /* Adjust brightness to make the image appear white */
}


canvas {
  width: 900px;
  height: 900px;
  position: absolute;
  z-index: -1111;
}


.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  height: 100%;
  width: 100%;

}

.row {

  text-align: center;
  padding-right: 25%;
  padding-left: 25%;
  justify-content: center;

}

.body_btn {

  position: relative;
  display: block;
  padding: 15px 25px;
  margin: 20px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  font-weight: bold;
  width: 100vh;
  box-shadow: 5px 2px 4px var(--light);
  opacity: 0.8;

}

.body_btn:hover {
  background: black;
  color: white;
  font-weight: normal;

  box-shadow: 0 0 5px white,
    0 0 25px white,
    0 0 50px white,
    0 0 200px white;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.space {
  height: 50px;
}

/*MOBILE USERS VIEW*/
@media only screen and (max-width: 600px) {

  .logo {
    padding: 0;
    margin: 0;
    width: 250px;
    height: auto;
    filter: brightness(500%);
    /* Adjust brightness to make the image appear white */
  }


  canvas {
    width: 400px;
    height: 400px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
    height: 100%;
    width: 100%;


  }

  .row {
    text-align: center;
    padding-right: 25%;
    padding-left: 25%;
    justify-content: center;

  }

  .body_btn {

    position: relative;
    display: block;
    padding: 12px 20px;
    margin: 20px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    width: 100vh;
    box-shadow: 5px 2px 4px var(--light);
    font-size: 14px;
    opacity: 0.8;
    font-weight: bold;
  }

  .space {
    height: 0px;
  }
}