:root {
  --primary: #51b9d2;
  --dark: #005164;
  --light: #81d9ef;

}

body {
  padding: 0;
  margin: 0;
  font-family: "Sans Mono", sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}


.border {
  overflow: hidden;
  position: absolute;
  z-index: -9999;
  border: 2px solid white;
  width: 97%;
  height: 97%;
  background-color: black;
  opacity: 0.;
  box-shadow: 5px 5px 6px var(--light);

}


.logo {
  padding: 0;
  margin: 0;
  width: 450px;
  height: auto;
  filter: brightness(500%);
  /* Adjust brightness to make the image appear white */
}


canvas {
  width: 900px;
  height: 900px;
  position: absolute;
  z-index: -1111;
}


.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  height: 100%;
  width: 100%;

}

.row {

  text-align: center;
  padding-right: 25%;
  padding-left: 25%;
  justify-content: center;
  display: inline-flex;
  align-content: center;
  align-items: center;
}

.body_btn {

  position: relative;
  display: block;
  padding: 15px 25px;
  margin: 20px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  font-weight: bold;
  width: 100vh;
  box-shadow: 5px 2px 4px var(--light);
  opacity: 0.8;

}

.body_btn:hover {
  background: black;
  color: white;
  font-weight: normal;

  box-shadow: 0 0 5px white,
    0 0 25px white,
    0 0 50px white,
    0 0 200px white;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.space {
  height: 50px;
}


.insta-logo {
  width: 30px;
  height: 30px;
  padding-left: 15px;
}

.discord-logo {
  width: 30px;
  height: 25px;
  padding-left: 15px;
}

.twitter-logo {
  width: 30px;
  height: 25px;
  padding-left: 15px;
}

body {
  background: black;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-container {
  text-align: center;
  padding-left: 120vh;
  padding-top: 20vh;
}

.glitch {
  width: 200px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }

  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }

  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }

  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }

  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }

  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }

  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}


/*MOBILE USERS VIEW*/
@media only screen and (max-width: 600px) {
  body{
      overflow-x: hidden;
  overflow-y: hidden;
  }
  
  .logo {
    padding: 0;
    margin: 0;
    width: 250px;
    height: auto;
    filter: brightness(500%);
    /* Adjust brightness to make the image appear white */
  }


  canvas {
    width: 400px;
    height: 400px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
    height: 100%;
    width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  }

  .row {
    text-align: center;
    padding-right: 25%;
    padding-left: 25%;
    justify-content: center;
    align-self: center;
    display: inline-flex;
    align-content: center;
    align-items: center;

  }

  .body_btn {

    position: relative;
    display: block;
    padding: 12px 10px;
    margin: 20px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    overflow: hidden;
    width: 15vh;
    box-shadow: 5px 0px 0px var(--light);
    font-size: 12px;
    opacity: 0.8;
    font-weight: normal;
  }

  .space {
    height: 20px;
  }

  .insta-logo {
    width: 20px;
    height: 20px;
    padding-left: 15px;
  }

  .discord-logo {
    width: 20px;
    height: 15px;
    padding-left: 15px;
  }

  .twitter-logo {
    width: 20px;
    height: 15px;
    padding-left: 15px;
  }
  
  
.g-container {
  text-align: center;
  padding-left: 0vh;
  padding-top: 21vh;
}

.glitch {
  width: 200px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}


}